*.cover
*.o
*.orig
*.pyc
*.pyo
*.rej
*.swp
*~
.gdb_history
Doc/build/
Doc/tools/docutils/
Doc/tools/jinja/
Doc/tools/jinja2/
Doc/tools/pygments/
Doc/tools/sphinx/
Lib/lib2to3/*.pickle
Lib/_sysconfigdata.py
Lib/plat-mac/errors.rsrc.df.rsrc
Makefile
Makefile.pre
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
Modules/_freeze_importlib
Modules/_testembed
PCbuild/*.bsc
PCbuild/*.dll
PCbuild/*.exe
PCbuild/*.exp
PCbuild/*.lib
PCbuild/*.ncb
PCbuild/*.o
PCbuild/*.pdb
PCbuild/Win32-temp-*
PCbuild/amd64/
PCbuild/*.user
PCbuild/*.suo
PCbuild/Win32-pgo*
.purify
__pycache__
autom4te.cache
buildno
config.cache
config.log
config.status
config.status.lineno
db_home
config.log
config.status
libpython*.a
libpython*.so*
pybuilddir.txt
pyconfig.h
python.exe
python-gdb.py
python.exe-gdb.py
reflog.txt
.svn/
tags
TAGS
.coverage
coverage/
htmlcov/
*.dmp
*.dump
*.db
*.sqlite
PC/py.res
PC/pythonnt_rc.h
PC/pythonnt_rc_d.h
PCbuild/Win32-pgi/
PCbuild/ipch/
PCbuild/pcbuild.opensdf
PCbuild/pcbuild.sdf
PCbuild/py.iobj
PCbuild/py.ipdb
PCbuild/python.psess
PCbuild/python1.psess
PCbuild/python150731.vspx
PCbuild/pyw.iobj
PCbuild/pyw.ipdb
PCbuild/x64-pgi/
PCbuild/x64-pgo/
PCbuild/x64-temp-Debug/
PCbuild/x64-temp-Release/
PCbuild/x64-temp-pgi/
dump.txt
Lib/distutils/command/wininst-10.0-amd64.exe
Lib/distutils/command/wininst-9.0-amd64.pdb
PC/python3dll.obj

